main {
  margin: 20px;
  padding: 10px;
  border: 2px solid #666;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #444;
  background: linear-gradient(150deg, turquoise , blue);
}
body {
  font-family: Roboto, sans-serif;
}

h1 {
  margin-top: 0;
  color: dark;
  font-family: Haettenschweiler;
  text-shadow: 1px 1px white;
}
ul {
  font-family: Arial;
}


label {
  display: block;
  padding-bottom: 2.5em;
}
label span {
  display: inline-block;
  width : 15em;
}
.label {
  display: inline-block;
  width : 15em;
}
option[disabled] {
  font-style: italic;
  color: #ccc;
}
.hidden {
  display: none;
}

.conseil{
  margin: 20px;
  padding: 10px;
  border: 2px solid #666;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #444;
  background: linear-gradient(150deg, turquoise , white);
}

#map {
  width:750px;
  height:500px;
  border: 1px solid black;
  float: right;
}
#left {
  min-height:502px;
}